body {
    background-image: url(sunsetPainting.jpg); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: 100% 120%; /* This property ensures that the background image covers the entire body */
    background-repeat: no-repeat; /* This property ensures that the background image doesn't repeat */
    margin: 0; /* Remove default body margin */
}


h1 {
    text-align: center;
    color: white;
    font-family: "Press Start 2P", "consolas";
    font-size: 50px;
}



.task {
    font-family: "Press Start 2P", "consolas";
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px; 
    margin-top: 30px;


}

input[type=checkbox] {
    margin-left: 32%; 
    transform: scale(.8); /* Adjust the scale factor as needed */
    
}

.bottom-taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsl(0, 0%, 30%);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: large;
}

.taskbar-section {
    position: relative;
    margin-right: 20px; /* Adjust the spacing between sections */
    padding-right: 10px; /* Add padding to create a visual separation */
}

/* Add a pseudo-element for the border */
.taskbar-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: white;
}

/* Remove the border from the last section */
.taskbar-section:last-child::after {
    display: none;
    margin-left: 30px;
}

